body,
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
.overlay {
  background-color: rgba(204, 204, 204, 0.4);
}
.block {
  background-color: rgba(120, 204, 204);
  width: 100%;
  height: 600px;
}
